@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // font
    --outfit: "Outfit", sans-serif;
    // colors
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    font-family: var(--outfit);
    font-size: 15px;

    body {
        background-color: var(--light-gray);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        main {
            background-color: var(--white);
            width: 90%;
            max-width: 320px;
            border-radius: 1rem;
            padding: 1em;

            .qr-image-container {
                display: flex;
                border-radius: 1rem;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            .information-container {
                text-align: center;
                padding: 1rem;

                h1 {
                    font-size: 1.5rem;
                    color: var(--dark-blue);
                }

                p {
                    color: var(--grayish-blue);
                    font-size: 1rem;
                    margin-top: 1em;
                }
            }
        }

        footer {
            .attribution {
                font-size: 11px;
                text-align: center;
            }
            .attribution a {
                color: hsl(228, 45%, 44%);
            }
        }
    }
}
