@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

// font
$main-font: "Outfit", sans-serif;
// colors
$card-bg: hsl(0, 0%, 100%);
$body-bg: hsl(212, 45%, 89%);
$primary-color: hsl(220, 15%, 55%);
$secondary-color: hsl(218, 44%, 22%);
